<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="app">
	<!-- Search Container -->
	<div id="container1">
		<div class="left-container">
			<div class="description-text">
				<p>
					Start here by typing a word in search boxes
				</p>
			</div>
			<div class="search-div">
				<div class="search-input-div">
					<input type="text" id="searchBox1" class="css-input" name="searchBox1">
					<div class="search-term"><p>#Term 1</p></div>
				</div>
				<div class="search-input-div">
					<input type="text" id="searchBox2" class="css-input" name="searchBox2">
					<div class="search-term"><p>#Term 2</p></div>
				</div>
				<div class="search-input-div">
					<input type="text" id="searchBox3" class="css-input" name="searchBox3">
					<div class="search-term"><p>#Term 3</p></div>
				</div>
				<div class="search-input-div">
					<input type="text" id="searchBox4" class="css-input" name="searchBox4">
					<div class="search-term"><p>#Term 4</p></div>
				</div>
			</div>
			<div class="description-text">
				<p>
					Enter location
				</p>
			</div>
			<div class="search-div">
				<div class="search-input-div" style="padding-top:0%;">
					<input type="text" id="searchBox5" class="css-input" name="searchBox5">
					<div class="search-term"><p>#Location</p></div>
				</div>
			</div>
			<div id="analyze_button_div">
				<button id="analyze_button"> Analyze </button>
			</div>			
		</div>		
		<div class="right-container">
			<div id="wordcloud"></div>
		</div>
	</div>
	<!-- Analysis Container -->
	<div id="container2" ng-controller="DemoCtrl">
		<div class="left-div">
			<d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
		</div>
		<div class="middle-div">
			
		</div>
		<div class="right-div">
			
		</div>
	</div>
	<!-- Persistance Analysis Container -->	
	<div id="container3">
		<h2 class="centered top-padding">Sentiment Analysis</h2>
		<h1 class="centered">Coming Soon</h1>
	</div>
	<!-- Sentiment Analysis Container -->	
	<div id="container4">
		<h2 class="centered top-padding">Persistent Analysis</h2>
		<h1 class="centered">Coming Soon</h1>
	</div>
	<!-- footer -->
	<div id="container5">
		
	</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="angular/angular.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
<script src="js/services/d3.js"></script>
<script src="js/services/service.js"></script> <!-- For Getting Socket IO service  -->
<script src="js/controllers/demoCtrl.js"></script>
<script src="js/controllers/demoCtrl2.js"></script>
<script src="js/directives/d3Basic.js"></script>
<script src="js/assets/d3.layout.cloud.js"></script>
<script src="js/all_script.js"></script>
</html>