<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.right{
			opacity: .5;
			background-color: black;
			width: 25%;
			float: right;
			height: auto;
		}

	</style>
</head>
<body style="background:url('images/mumbai_map.png')">
	<div id="container">
		<div class="left">
		</div>		
		<div class="right">
			<div id="wordcloud"></div>
		</div>
	</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/assets/d3.layout.cloud.js"></script>
<script type="text/javascript">
	function cloudMake(){ 		//called at end of setMap !
		console.log("start cloudMake");
		 var wordArray = [
			"power", "water", "train", "Obama", "Romney", "work", "Sandy", "hurricane", "storm", "mayor","crane", "cold", "New York", "subway", "crazy", "vote", "evacuate"/*, "rain",  "lights", "dark", "Frankenstorm", "battery park", "climate", "batteries", "store", "supplies", "danger", "food", "subway", "MTA", "park",  "tree", "ConEd"*/];
		 d3.layout.cloud().size([300, 300])
			.words(wordArray.map(function(d) {
				return {text: d, size: 4 + Math.random() * 90};
				}))
			.rotate(function() { return ~~(Math.random() * 2) * 90; })
			.font("Impact")
			.fontSize(function(d) { return d.size; })
			.on("end", draw)
			.start();
	}; 
	function draw(words) {
	    d3.select("#wordcloud").append("svg")
	        .attr("width", 300)
	        .attr("height", 300)
	      	.append("g")
	        .attr("transform", "translate(150,150)")
	      	.selectAll("text")
	        .data(words)
	      	.enter().append("text")
	        .style("font-size", function(d) { return d.size + "px"; })
	        .style("font-family", "Impact")
			.style("fill", "white")
	       
	        .attr("text-anchor", "middle")
			.attr("class", "words")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .text(function(d) { return d.text; })
			.on("click", function (d){
				selectWord(d.text);
				//recolor hexagons
				
			});
	}
	function selectWord(t) {
		var selectedWord = t;
		console.log("you selected:", selectedWord); 
		
		document.getElementById("keyword").innerHTML = selectedWord;
		
		//clear all words
		d3.selectAll(".words")
			.style("fill","white");
		//color the selected word 
		d3.select(t)
			.style("fill", "#FABA0E");
			
		bindData(selectedWord);
	}
	cloudMake();
</script>
</html>