body{
    text-align: center;
	font-family: Akashi, Verdana, sans;
	margin: 0px;
}
#container1{
	height: auto;
	width: 100%;
	color: white;
	position: absolute;
	background-image:url('images/mumbai_map.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#analyze_button {
	width: 32%; 
	height: 33px; 
	font-size:14px; 
	font-family: Akashi, Verdana, sans;
}
.description-text{
	text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.right-container{
	opacity: .5;
	background-color: black;
	width: 25%;
	float: right;
	height: auto;
	margin-top: 7%;
	padding: 2%;
}
.left-container{
	opacity: .5;
	background-color: black;
	width: 25%;
	float: left;
	height: auto;
	margin-top: 7%;
	padding: 2%;
}
.search-div{
	margin-bottom: 6%;
}
.search-term{
	display: inline;
}
.search-term p {
    display: inline;
    padding: 5px;
    color: white;
    padding-left: 3%;
}
.search-input-div{
	padding-top: 3%;
}
.css-input { 
	padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    margin-top: 1%;
    border-radius:9px;
    text-align:center; 
    font-size:14px;
    border-style:solid;  
    border-color:#cccccc; 
    box-shadow: 0px 0px 0px 0px rgba(42,42,42,.75); 
	text-shadow:0px 0px 0px rgba(42,42,42,.75); 
	border-radius:9px; 
	border-width:2px;
	font-family: Akashi, Verdana, sans;
}